.body{
    width: 1135px;
    height: 3930px;
    border-color: rgb(12, 12, 12);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

}

.comp1{
    width: 1115px;
    height: 580px;
    display: flex;
    flex-wrap: nowrap;
    border: 2px;
    border-color:  white;
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 5px;
    background-color:  white;
    }
    
    .explanation1{
    width: 550px;
    height: 550px;
    border: 1px;
    border-color:  white;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    position: relative;
    }

    
    .image1{
        width: 550px;
        height: 550px;
        border: 1px;
        border-color: white;
        border-style: solid;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        background: white;
        position: relative;
    }
    .image1 img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        
      }
    
    .comp2{
        width: 1115px;
        height: 580px;
        display: flex;
        flex-wrap: nowrap;
        border: 2px;
        border-color:  white;
        border-style: dotted;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin: 5px;
        /*background-color:  rgb(3, 137, 145);*/
        background-color: white;
        }
        
        .explanation2{
        width: 550px;
        height: 550px;
        border: 1px;
        border-color:  white;
        border-style: solid;
        margin: 5px;
        padding: 5px;
        position: relative;
        background:  white;
        }
        
        .image2{
            width: 550px;
            height: 550px;
            border: 1px;
            border-color:  white;
            border-style: solid;
            display: inline-block;
            padding: 5px;
            margin: 5px;
            background:  white;
            position: relative;
        }

        .image2 img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            
          }
        
        .comp3{
            width: 1115px;
            height: 580px;
            display: flex;
            flex-wrap: nowrap;
            border: 2px;
            border-color:  white;
            border-style: dotted;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin: 5px;
           /* background-color:  rgb(3, 137, 145);*/
           background-color: white;
            }
            
            .explanation3{
            width: 550px;
            height: 550px;
            border: 1px;
            border-color:  white;
            border-style: solid;
            margin: 5px;
            padding: 5px;
            position: relative;
            }
            
            .image3{
                width: 550px;
                height: 550px;
                border: 1px;
                border-color:  white;
                border-style: solid;
                display: inline-block;
                padding: 5px;
                margin: 5px;
                background:  white;
                position: relative;
            }

            .image3 img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                
              }
            .robot{
                width: 1115px;
                height: 580px;
                display: flex;
                flex-wrap: nowrap;
                border: 2px;
                border-color:  white;
                border-style: dotted;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                margin: 5px;
                background-color: white;
              
                }
                
                .explainrobot{
                width: 550px;
                height: 550px;
                border: 1px;
                border-color:  white;
                border-style: solid;
                margin: 5px;
                padding: 5px;
                position: relative;
                
                background-color:  white;
                }
                
                .imagerobot{
                    width: 550px;
                    height: 550px;
                    border: 1px;
                    border-color:  rgb(3, 137, 145);
                    border-style: solid;
                    display: inline-block;
                    padding: 5px;
                    margin: 5px;
                    background: grey;
                    position: relative;
                    background-color:  rgb(3, 137, 145);
                }
                .imagerobot img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                  
                }
       

                .servo{
                    width: 1115px;
                    height: 580px;
                    display: flex;
                    flex-wrap: nowrap;
                    border: 2px;
                    border-color:  rgb(3, 137, 145);
                    border-style: dotted;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    margin: 5px;
                   /* background-color:  rgb(3, 137, 145);*/
                   background-color: white;
                  
                    }
                    
                    .explainservo{
                    width: 550px;
                    height: 550px;
                    border: 1px;
                    border-color:  white;
                    border-style: solid;
                    margin: 5px;
                    padding: 5px;
                    position: relative;
                   /* background-color:  rgb(3, 137, 145);*/
                    background-color: white;
                  
                    color: rgb(20, 20, 20);
                    
                    }
                    .NEWimage1{
                      width: 540px;
                      height: 270px;
                      border: 1px;
                      border-color:  whITE;
                      border-style: solid;
                      display: inline-block;
                      padding: 5px;
                      margin: 5px;
                     /* background: rgb(3, 137, 145);*/
                     background-color: white;
                      position: relative;
                  }
                  .NEWimage1 img{
                      height: 100%;
                      width: 100%;
                      object-fit: contain;
                  }
                    
                    .imageservo{
                        width: 550px;
                        height: 550px;
                        border: 1px;
                        border-color:  white;
                        border-style: solid;
                        display: inline-block;
                        padding: 5px;
                        margin: 5px;
                        background: grey;
                        position: relative;
                        background-color: white;
                        /*background-color:  rgb(114, 44, 145) ;*/
                    }
                    .imageservo img {
                      height: 100%;
                      width: 100%;
                      object-fit: contain;
                      
                    }
                    
                   
                      
                    .titlebox{
                        width: 1115px;
                        height: 580px;
                        display: flex;
                        flex-wrap: nowrap;
                        border: 2px;
                        border-color:  rgb(51, 51, 255);
                        border-style: dotted;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        margin: 5px;
                        background-color: rgb(51, 51, 255);
                        /*background-color:   rgb(121, 182, 23);*/
                    }
                    .title{
                      width: 550px;
                      height: 550px;
                      border: 1px;
                      border-color:   rgb(51, 51, 255) ;
                      border-style: solid;
                      margin: 5px;
                      padding: 5px;
                      position: relative;
                      color: white;
                      text-align: center;
                      }
                    .my image{
                        width: 450px;
                        height: 450px;
                        border: 1px;
                        border-color: rgb(109, 98, 98);
                        border-style: solid;
                        display: inline-block;
                        padding: 5px;
                        margin: 5px;
                        background: rgb(85, 4, 4);
                        position: relative;
                    }
                    .my image img{
                        height: 50%;
                        width: 50%;
                        object-fit: contain;
                    }
                    
                    .about{
                        
                            width: 550px;
                            height: 550px;
                            border: 1px;
                            border-color:   rgb(51, 51, 255) ;
                            /*border-color: rgb(226, 6, 6);*/
                            border-style: solid;
                            display: inline-block;
                            padding: 5px;
                            margin: 5px;
                            background:  rgb(51, 51, 255);
                            position: relative;
                    }

                    ul{
    
                        margin-right: 20px;
                        padding:0px;
                        width:430px;
                        list-style-type: none;
                        background-color: rgb(83, 161, 4);
                        overflow: hidden;
                        position: relative;
                       
                    }
                    
                    li a{
                        float: left;
                        display: block;
                        padding: 10px 15px;
                        color:rgb(24, 23, 23);
                        text-align: center;
                        text-decoration: none;
                        border-right: 1px solid rgb(20, 20, 20);
                        width: 73px;
                        min-width: none;
                        font-size: large;
                    
                    }
                    li a:hover{
                        background-color: white;
                        animation: myGlowAnimation;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;
                    }
                    
                    @keyframes myGlowAnimation{
                          50%{text-shadow: 0px 0px 10px yellow;}
                    }
                    
                    img:hover{
                      background-color: green;
                        animation: myGlowAnimation;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;
                        
                    }
                    
                    p{
                      font-size: 18px;
                      font-family: fantasy;
                      font-style: italic;
                      color: blue;
                      
                    }
                    
                    .fa-instagram{
                      color: black;
                    }
                    h2{
                      color: rgb(200, 233, 17);
                      background-color: black;
                    }
                    
                    .home{
                      border: 1px;
                      border-style: solid;
                      border-color: black;
                      border-radius: 10px;
                      background-color: green;
                      width:111px;
                      min-height: 20px;
                      text-decoration: none;
                      text-align: center;
                      border-top: 20px;
                      text-decoration-color: black;
                    
                    
                    }
                    .home a:hover{
                      background-color: white;
                      animation: myGlowAnimation;
                      animation-duration: 5s;
                      animation-iteration-count: infinite;
                    }
                    
                    video{
                     margin-left: 100px;
                    }
                    .abtpage{
                      background-color: rgb(51, 51, 255);
                     
                      height: 500px;
                      
                     
                      
                    }
                    #abtcontacts{
                      
                      background-color: rgb(51, 51, 255);
                      margin-left: 20px;
                    
                     
                      
                    
                    }
                    .abtpage h3{
                      margin-left: 20px;
                      text-decoration: underline;
                      color: rgb(139, 81, 81);
                    }

                    ul{
    
                        margin-right: 20px;
                        padding:0px;
                        width:430px;
                        list-style-type: none;
                        background-color: rgb(83, 161, 4);
                        overflow: hidden;
                        position: relative;
                       
                    }
                    
                    li a{
                        float: left;
                        display: block;
                        padding: 10px 15px;
                        color:rgb(24, 23, 23);
                        text-align: center;
                        text-decoration: none;
                        border-right: 1px solid rgb(20, 20, 20);
                        width: 73px;
                        min-width: none;
                        font-size: large;
                    
                    }
                    li a:hover{
                        background-color: white;
                        animation: myGlowAnimation;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;
                    }
                    
                    @keyframes myGlowAnimation{
                          50%{text-shadow: 0px 0px 10px yellow;}
                    }
                    
                    img:hover{
                      background-color: green;
                        animation: myGlowAnimation;
                        animation-duration: 5s;
                        animation-iteration-count: infinite;
                        
                    }
                    
                   
                   /* .aboutbox{
                      width: 1115px;
                      height: 500px;
                      display: flex;
                      flex-wrap: nowrap;
                      border: 2px;
                      border-color: grey;
                      border-style: dotted;
                      margin-left: auto;
                      margin-right: auto;
                      position: relative;
                      margin: 5px;
                     
                  }*/
                    .aboutbox{
                      display: flex;
                      flex-wrap: nowrap;
                      width: 1115px;
                      height: 380px;
                      border: 2px;
                      border-color: black;
                      border-style: dotted;
                      margin-left: auto;
                      margin-right: auto;
                      position: relative;
                      margin: 5px;
                      float: left;
                     }
                     
                     .email{
                         height:350px;
                         width:365px;
                         border-style: solid;
                         border-color: black;
                         border-width: 2px;
                         margin: 5px;
                         color:white;
                        
                     }
                     .quicklinks{
                      height:350px;
                      width:365px;
                      border-style: solid;
                      border-color: black;
                      border-width: 2px;
                      margin: 5px;
                      color:white;
                     
                  
                  }
                  .socialmedia{
                      height:350px;
                      width:365px;
                      border-style: solid;
                      border-color: black;
                      border-width: 2px;
                      margin: 5px;
                      color:white;
                     
                  
                  }
                  .h3{
                    color: black;
                  }
                    
                  ol{
                    color: blue;
                    font-size: 18px;
                    font-family: fantasy;
                    font-style: italic;
                  }
                  
                      
    
      
